<div id="popupGracias">
    <img src="./assets/logo_gracias.png" alt="logo" class="logo">
    <button mat-raised-button color="primary" class="closed" mat-dialog-close>
        <img src="./assets/popup/close.png" alt="" class="gracias">
    </button>
    <img src="./assets/popup/p-1.png" alt="p1-1" class="p1-1">
    <div mat-dialog-content>
        <p class="text-center">
            <img src="./assets/popup/gracias.png" alt="">
        </p>
        <div class="d-flex justify-content-center align-items-center">
            <img src="./assets/popup/head_good.png" alt="" class="px-5 head_good">
            <img src="./assets/popup/head_bad.png" alt="" class="px-5 head_bad">
        </div>
    </div>
</div>