<div id="popupVideo">
    <img src="./assets/logo.png" alt="logo" class="logo">
    <button mat-raised-button color="primary" class="closed" mat-dialog-close>
        <img src="./assets/popup/close.png" alt="">
    </button>
    <img src="./assets/popup/p-1.png" alt="p1-1" class="p1-1">
    <div mat-dialog-content>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/EqPtz5qN7HM" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <img src="./assets/popup/p-2.png" alt="p2-2" class="p2-2">
    <img src="./assets/popup/p-3.png" alt="p3-3" class="p3-3">
    <img src="./assets/popup/p-4.png" alt="p4-4" class="p4-4">
</div>