<div id="popupPreguntas">
    <img src="./assets/logo_gracias.png" alt="logo" class="logo">
    <button mat-raised-button color="primary" class="closed" mat-dialog-close>
        <img src="./assets/popup/close.png" alt="">
    </button>
    <img src="./assets/popup/p-1.png" alt="p1-1" class="p1-1">
    <div mat-dialog-content>
        <img src="./assets/popup/mensaje.png" alt="mensaje" class="img-fluid" style="height: 348px;">
    </div>
    <img src="./assets/popup/p-2.png" alt="p2-2" class="p2-2">
    <img src="./assets/popup/p-3.png" alt="p3-3" class="p3-3">
    <img src="./assets/popup/p-4.png" alt="p4-4" class="p4-4">
</div>